body {
    background-color: aqua;
    font-family: sans-serif;
}

.body {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
    gap: 35px;

}

.job {
    display: flex;
    border: none;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
    align-items: center;
    border-radius: 8px;
    background-color: white;
}

.job div img{
    width: 100px;
}

.left {
    display: flex;
    gap: 18px;
    justify-content: center;
    align-items: center;
}

.left div:nth-child(2){
    line-height: .8;
}

.left div p{
    display: flex;
    gap: 10px;
    color: rgb(89, 169, 196);
    font-weight: 800;
    justify-content: center;
    align-items: center;
}

.left div p span:nth-child(1){
    background-color: rgb(63, 207, 255);
    border-radius: 13px;
    padding: 6px 15px;
    text-transform: uppercase;
    color: white;
}

.left div p span:nth-child(2){
    background-color: rgba(11, 11, 11, 0.971);
    border-radius: 13px;
    padding: 6px 15px;
    text-transform: uppercase;
    color: white;
}

.left div span{
    display: flex;
    gap: 15px;
    color: darkgray;
    font-weight: 700;
    align-items: center;
}

.left div:nth-child(2) {
    margin-bottom: 25px;
}

h3 {
    text-transform: capitalize;
    font-weight: 800;
    align-self: center;
}

.right {
    display: flex;
    gap: 15px;
}

.right span {
    padding: 5px 5px;
    background-color: rgba(211, 211, 211, 0.291);
    color: rgb(63, 207, 255);
    border-radius: 6px;
    font-weight: 800;
}